/*
	This is a grid system. Use it to structure your layout.
	
	Width: 100px
	# of columns: 12
	Column width: 69px
	Gutter: 12px
*/

.grid-1 {width: 7.18%;} /*69px*/
.grid-2 {width: 15.62%;} /*150px*/
.grid-3 {width: 24.06%;}	/*231px*/
.grid-4 {width: 32.5%;} /*312px*/
.grid-5 {width: 40.93%;} /*393px*/
.grid-6 {width: 49.37%;} /*474px*/
.grid-7 {width: 57.81%;} /*555px*/
.grid-8 {width: 66.25%;} /*636px*/
.grid-9 {width: 74.68%;} /*717px*/							
.grid-10 {width: 83.12%;} /*798px*/
.grid-11 {width: 91.56;} /*879px*/
.grid-12 {width: 100%;}	/*960px*/

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
}

.no-left{margin-left:0;}
.no-right{margin-right:0;}

.wrapper {
	padding: 4% 0;
	width: 90%;
	max-width: 960px;
	margin: 0 auto;


}

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}


