body, html {
	font-family: "Myriad Pro",Helvetica, sans-serif;
	height: 100%;
	 /* fallback */
	background: #F4D198;	

}



/*SHIRT - LEFT SIDE*/
img {
	max-width: 100%;
}

.shirt {

}

/*INFO - RIGHT SIDE*/

.info {

}
h1 {
	font-size: 8.2em;
	text-transform: uppercase;
	font-family: "Futura Bold", Helvetica, sans-serif;
	opacity: .9;
	margin: 0% 0 0% 0;

}


h1 #club {
	color: #222;
	margin-right: -0.3em;
}

h1 #hillman {
	color: #fff;
		text-shadow: 1px 2px #111;
}

h2 {
	text-transform: uppercase;
	font-family: "Futura", Helvetica, sans-serif;
	font-size: 2.5em;
	margin: 0;
	padding: 0;
	color: #333;
		opacity: .9;
}

.info {
	margin-top: 5%;
}

.info ul {

	width: 100%;
	margin: 6% 0;
	padding: 0;

}

.info ul li {
	display: inline;
	list-style-type: none;


}

.info ul li a {
	background: #F9EFDC;
	padding: 2%;
	margin-right: 1%;
	border: 1px solid #ccc;
	border-radius: .2em;
	text-decoration: none;
	color: #222;
	font-size: 1.2em;

}

.info ul li a:hover {
	background: #333;
	color: #ddd;
}

.info p {
	margin: 5% 0;
}

#price {
	font-size: 1.2em;
	background: #333;
	padding: 2%;
	color: #eee;
	border-radius: .2em;
	margin: 0 3%;

	float: left;
}

#select-your-size{
	font-size: 1em;
	margin-right: 2%;

}	

.info #sizing-chart {

	margin: -3% 0 0% 0%;
	text-transform: lowercase;
}

.info #sizing-chart a {
	font-size: 0.8em;

	text-decoration: underline;
	color: #222;

}

.info #sizing-chart a:hover {
	color: #777;
}

.info #hillman-text {
	font-size: 1em;

}

/*Bottom */

.bottom {
	margin-top: 3%;
	background: #eee;
	border: 1px solid #ccc;
	border-radius: .4em;
	padding: 0 2%;
}

.bottom p {
	margin-top: -5%;
	font-size: 1em;
}
	

/*Medium Resolution*/
@media screen and (max-width: 1024px) {
	.shirt img {
		max-width: 100%;
	}

}

@media screen and (max-width: 768px) {
	.info {
		margin-left: 1%;
	}
	
	.info ul {

	}
	.info ul li a {
		background: #F9EFDC;
		padding: 2%;
		margin-right: 1%;
		border-radius: .2em;
		text-decoration: none;
		color: #222;
		font-size: 2em;
		clear: all;
		width: 20%;
		text-align: center;
	}
	
}